/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 Jun, 2024, 12:51:07 AM
    Author     : mahek
*/
#box{
    -fx-background-image: url("imag.jpg");
    -fx-background-size: cover;
}

#button
{
    -fx-background-color:  linear-gradient(from 0% 0% to 100% 0%,#303395 0%,#27F0F0 100%);
    -fx-cursor:hand;
    -fx-border-color:white;
    -fx-background-radius: 10px;
    -fx-border-radius:10px;
    -fx-font-weight:bold;
    -fx-text-fill:white;
    
}
#btnback
{
       -fx-background-image: url("arror.png");
       -fx-background-size: cover;
}
#buttonedit
{
      -fx-background-image: url("edit.png");
      -fx-background-size: cover;
      -fx-background-color: transparent;
}